<p>
This demo shows how to implement Client Side Validation with the Janrain Social Sign In widget.
</p>

<p>
Try viewing source, and also open up your browser's Javascript console to see things happening.
</p>

<p>
    For general documentation on Client-side authentication, please see
    <a href="http://developers.janrain.com/how-to/social-login/deploy-social-login/client-side-authentication/">this documentation page</a>.
</p>
        
<div id="janrainEngageEmbed"></div>

<p>Try viewing source in the page to see what's going on here.</p>

<div id="responseData"></div>