#outer-box-container {width:100%;}

/* To avoid a style conflict, used the !important directive to get percentage values to fit
   in resized anchor tag areas.
*/

 #choice1, #choice2{
				height:50px                !important;  /*different height and width adds 'flats' to the colored circles. */
				width:70px				   !important;
				align:center		       !important;
				padding: 25px,10px,0px,5px !important;
				}		

.choice1-green>a, .choice2-red>a, {
				font-weight:bold           !important;
				font-size:14px             !important;
				height:40px                !important;
				width:40px				   !important;
				}		
#hashtag     {
				align:center;
				background-color:rgb(247,245,243);
				height:400px;
				width:75%;
				border:2px solid #0ABFBC; 
				padding-right:30px;
				padding-left:30px; 
				border-radius:25px;
				overflow-x:hidden;
				overflow-y:hidden;

			}
				
				
#default_stream {
				align:center;
				width:95%,
				height:1000px;
				background-color:rgb(247,245,243);
				padding-left:15px solid black; 
				padding-right:10px;
				border:2px solid #0ABFBC; 
				border-radius:5px;
				margin:10px;
				overflow-x:scroll;
				overflow-y:scroll;
				}