<p>This is a social sharing demo.</p>

<div
    class="janrainSocialPlaceholder"
    data-janrain-url="http://www.google.com/"
    data-janrain-title="Share this!"
    data-janrain-description="This is a cool thing"
    data-janrain-image="http://www.coolmath.com/fractals/images/fractal11.gif"
    data-janrain-message="Hey come look at this amazing thing!"
>Do I just need to put something in here?</div>

<script src="//cdn-social.janrain.com/social/janrain-social.min.js"></script>
<script type="text/javascript">
janrain.settings.social = {
   providers: [
       "facebook",
       "twitter",
       "linkedin"
   ]
};
janrain.settings.appUrl = "https://janrain-se-demo.rpxnow.com";
</script>
