<!DOCTYPE html>
<html>
<head>
    
<meta charset="utf-8"/>
    
<!--title placeholder-->

<meta name="viewport" content="width=device-width, initial-scale=1">

<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>

<!--head placeholder-->

</head>

<body class="janrain-font">

<!--navigation placeholder-->

<div class="body_col">
    
    <div data-role="header">
        <!--header placeholder-->
    </div>

    <!--body placeholder-->
    
</div>

</body>
</html>