<!DOCTYPE html>
<html>
<head>
    
<meta charset="utf-8"/>
    
<!--title placeholder-->

<!--stylesheet placeholder-->

<link rel="stylesheet" href="/JanrainDemoSites/default/styles/screen.css" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>

<script type="text/javascript" src="/JanrainDemoSites/default/scripts/navigation.js"></script>

<!-- Janrain Enterprise scripts -->
<!--janrain-init placeholder-->

<!--janrain-utils placeholder-->

<!-- end Janrain Enterprise scripts -->

<!-- Janrain Social Login scripts -->
<!--socialLogin placeholder-->

<!--errorChecking placeholder-->

<!--jwol placeholder-->

<!-- end Janrain Social Login scripts -->

<!--janrainSettings placeholder-->

<!--otherScripts placeholder-->

</head>

<!-- Config: body -->
<body class="janrain-font">

<!--navigation placeholder-->

<!-- Div: body_col -->
<div class="body_col">
    
    <!-- Div: header -->
    <div data-role="header">
        <!-- <h1>Janrain Enterprise Demos</h1> -->
        <!--header placeholder-->
    </div>
    <!--signinlinks placeholder-->
    
    <!--content placeholder-->
    
    <!--widgetScreens placeholder-->
    
</div>

</body>
</html>