<div class="global_nav">
    <a href="http://janrain.com" class="home_link"></a>
    <ul class="nav-list">
        <li><a target="_new" href="https://dashboard.janrain.com/">Sign In</a></li>
        <li><a target="_new" class="selected" href="http://developers.janrain.com">Developers</a></li>
        <li><a target="_new" href="http://support.janrain.com">Support</a></li>
        <li><a target="_new" href="http://trust.janrain.com">Status</a></li>
        <li><a target="_new" href="http://janrain.com/blog/">Blog</a></li>
        <li><a target="_new" href="http://janrain.com/about/contact-us/">Contact</a></li>
    </ul>
</div>