<div class="nav_bar clearfix">
    <div class="nav-assist nav-assist-upstream show-for-small">
        <button role="toggle-sidebar-nav"><span class="quilt-icon quilt-icon-list"></span></button>
    </div>
    <div class="nav-assist nav-assist-upstream">
        <nav>
            
            <ul id="menu-top-menu" class="main_nav">
                <li><a href="/JanrainDemoSites/">Home</a></li>
                <li><a target="_new" href="https://rpxnow.com/docs/providers/">Provider Guide</a></li>
            </ul>
            
        </nav>
    </div>
    <div class="nav-assist nav-assist-utility show-for-small">
        <button role="toggle-global-nav"><span class="quilt-icon quilt-icon-person"></span></button>
    </div>
</div>