<!-- The following links are meant to simulate elements already existing on your page. -->
<!-- Add the class 'capture_modal_open' to an anchor tag to initiate signin. -->

<p>
    <a href="#" id="captureSignInLink" onclick="janrain.capture.ui.renderScreen('signIn')">Sign In / Sign Up</a>
</p>

<p>
    <a href="#" id="captureProfileLink" style="display:none" onclick="janrain.capture.ui.renderScreen('editProfile')">Edit Profile</a>
</p>

<p>
    <!-- Add the class 'capture_end_session' for the log out link -->
    <a href="#" id="captureSignOutLink" class="capture_end_session" style="display:none">Sign Out</a>
</p>
